* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
}

ul,
ol {
  list-style: none;
}


h1 {
  font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
}

select {
  font-family: inherit;
}

button {
  font-family: inherit;
}

/* ====================== HEADER======================= */

.header-index {
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  padding: 1.5em;
  box-shadow: inset 0px 150px 100px 0px rgba(0, 0, 0, 0.37);
}

.contenedor-nav-index {
  display: flex;
  justify-content: space-around;
}

.titulo-principal {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Caveat', cursive;
  transition: 0.5s ease;
  text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.575);
}

.titulo-principal:hover{
  font-size: 4.3rem;
  -webkit-text-stroke: 2px rgb(255, 255, 255) ;
  color: transparent;
}

.contenedor-navlist1-y-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-list1 {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  font-size: 1.15rem;

}

.nav-list2 {
  display: flex;
  justify-content: end;
  align-items: baseline;
  gap: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.575);

}

.botonesnavegacion {
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.575);
}

.iconos-nav-index {
  width: 25px;
}

.efecto-hover {
  transition: 0.7s ease;
}

.efecto-hover2 {
  transition: 0.7s ease;
}

.efecto-hover:hover {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}

.efecto-hover2:hover {
  color: rgb(255, 255, 255);
  font-size: 1.17rem;
}

.videoindex {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.texto-portada {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

.texto-portada1 {
  font-weight: lighter;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.774);
  font-family: 'Baloo Tamma 2', cursive;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

.texto-portada2 {
  font-size: 2.5rem;
  font-weight: lighter;
  color: white;
  font-family: 'Overlock', cursive;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.575);
}

.buenosmomentos {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.575);
}

.buenos-650 {
  display: none;
  font-family: 'Overlock', cursive;
  font-weight: bold;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.575);
}

.y-650 {
  display: none;
  font-family: 'Overlock', cursive;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.575);
}

.experiencias-650 {
  display: none;
  font-family: 'Overlock', cursive;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.575);
}




/* --------------------------INDEX------------------------------- */

.seccion1-index {
  width: 100%;
  font-size: 1rem;
  padding: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: 'Baloo Tamma 2', cursive;
}

.quienes-somos-h2 {
  font-size: 3rem;
  color: #254642;
}

.quienes-somos {
  width: 60%;
  font-size: 2rem;
  text-align: center;
  color: rgba(75, 75, 75, 0.637);
}

.seccion2-index {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.queremosque {
  color: rgba(75, 75, 75, 0.637);
}

.queremosque-media740 {
  display: none;
  color: rgba(75, 75, 75, 0.637)
}

.oferta {
  font-size: 2rem;
  color: #254642;
}

.oferta-720 {
  display: none;
  color: #254642;
}

.mejores {
  font-weight: bold;
  color: #254642;
}

.lomejor-720 {
  display: none;
  color: #254642;
}

.grilla-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 600px);
  column-gap: 200px;
  margin-bottom: 70px;
}

.celda-neopreno {
  display: flex;
  justify-content: end;
  align-items: center;
}

.celda-tabla {
  display: flex;
  align-items: center;
}

.celda-quillon {
  display: flex;
  justify-content: end;
  align-items: center;
}

.celda-leash {
  display: flex;
  align-items: center;
}

.tarjeta {
  width: 300px;
  height: 445px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.tarjeta-body {
  font-size: 1.2rem;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.tarjeta-titulo {
  font-size: 1.2rem;
}

.btn {
  background-color: gray;
  border: 2px solid black;
  border-radius: 30px;
  color: white;
  font-size: 0.98rem;
  padding: 0.4em 0.7em;
  transition: 0.2s ease;
  font-weight: bold;
}

.btn:hover {
  background-color: white;
  color: gray;
  font-size: 1.1rem;
}

.traje-de-neoprene {
  width: 280px;
  height: 275px;
  transition: 0.3s ease;
}

.traje-de-neoprene:hover {
  width: 295px;
  height: 290px;
}

.tablablanca {
  width: 200px;
  height: 275px;
  transition: 0.3s ease;
}

.tablablanca:hover {
  width: 215px;
  height: 290px;
}

.quillon {
  width: 290px;
  height: 275px;
  transition: 0.3s ease;
}

.quillon:hover {
  width: 305px;
  height: 290px;
}

.leash {
  width: 240px;
  height: 275px;
  transition: 0.3s ease;
}


.leash:hover {
  width: 255px;
  height: 290px;
}

.reserva-tu-clase {
  background-image: url("../img/fototablasfondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  gap: 10vh;
  color: white;
}

.container-video {
  position: relative;
  width: 80%;
  padding-bottom: 56.25%; 
  height: 0;
}

.container-video iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 82.5%;
}

.titulo-reserva-tu-clase {
  font-weight: bold;
}

.textoreserva {
  font-size: 2rem;
  background-color: rgba(8, 8, 8, 0.603);
  padding: 0.7em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.parraforeserva {
  text-align: center;
}

.botones-reservar {
  font-size: 1.1rem;
  border: 3px solid black;
  font-weight: bold;
  color: black;
  border-radius: 20px;
  padding: 0.36em;
  background-color: white;
  transition: 0.3s ease;
}

.botones-reservar:hover {
  background-color: black;
  color: white;
  border-color: white;
  font-size: 1.2rem;
}

.subir {
  position: absolute;
  top: 0;
}

.iconoflecha {
  width: 60px;
  position: sticky;
  bottom: 30px;
  left: 95.5%;
  margin: 20px;
  transition: 0.3s ease;
}

.iconoflecha:hover {
width: 65px;
}



/* -----------------FOOTER--------------------- */


.footer {
  margin-bottom: 20px;
}

.grilla-iconos-footer {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 30px 30px;
}

.iconosdefooter {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.iconofacebook {
  width: 50px;
}

.iconoinstagram {
  width: 46px;
}

.iconoyoutube {
  width: 50px;
}

.iconotwitter {
  width: 50px;
}

.iconotelefono {
  width: 40px;
}

.div-1-footer {
  border-top: black 0.1px solid;
  grid-column: 1/2;
  grid-row: 2;
}

.div-2-footer {
  border-top: black 0.1px solid;
  grid-column: 3/4;
  grid-row: 2;
}

.encerrarfooter {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.footertituloprincipal {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}

.derechosreservados {
  display: flex;
  gap: 5px;
}

.iconocopyright {
  width: 25px;
  margin-top: -4px;
}

.formulario {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.hypertextosfooter {
  margin-top: 10px;
  color: blue;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* -------------------HEADER DE SECCIONES-------------------------- */

.encabezado {
  display: flex;
  justify-content: space-between;
}


/* -------------------------CONTACTO------------------------ */

.asteriscosrojos {
  color: red;
}

/* -----------------------CLASES-------------------------------- */

.h1-clases {
  padding: 20px;
}

.titulo-principalclases {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}

.ul-clases1 {
  margin-top: 35px;
  margin-right: 40px;
  display: flex;
  padding: 10px;
  gap: 20px
}

.li-estilos {
  display: flex;
  align-items: flex-end;
  gap: 3px;
}


.ul-clases2 {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.fotoseccionreserva {
  position: absolute;
  z-index: -1;
}

.seccionreserva1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  font-size: 1.9rem;
  border-radius: 20px;
}

.formularioreserva {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.formularioreserva2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.seccionentremedio {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
  margin-top: 200px;
}

.seccion2reserva {
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.4rem;
  border-radius: 20px;
  margin-top: 200px;
}

.mainreserva {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 1%;
  background-image: url("../img/foto-tubo.jpg");
  background-position: center;
  background-size: cover;
  padding: 120px;
}

.seleccionadia {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* ------------------------------CONTACTO----------------------------- */

.header-contacto {
  display: flex;
  justify-content: space-between;
}

.h1-contacto {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}

.seccion-contacto {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  gap: 50px;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 30px;
}

.form-contacto {
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 90%;
}

.div-informacion {
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 90%;
}

.boton-cuenta {
  display: flex;
  justify-content: center;
}

/* ---------------------------SURF------------------------------ */


.main-surf {
  background-image: url("../img/fondo-palmeras.jpg");
  margin-top: 50px;
  font-size: 1.8rem;
  padding: 40px;
  background-position: center;
  color: white;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 20px;
}

.seccion-surf {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 50px;
}

.articulos-surf {
  display: flex;
  flex-flow: column;
  gap: 15px;
  font-size: 1.75rem;
}

.titulo-surf {
  text-decoration: underline;
  font-weight: bold;
}

/* ----------------------PRODUCTOS------------------------ */

.main-productos {
  display: flex;
  justify-content: space-around;
  padding: 150px;
  background-image: url("../img/camionetita.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 50px;

}

.grilla-productos-seccion {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 500px,500px;
  row-gap: 40px;
  column-gap: 40px;
}

.formulario-productos {
  display: flex;
  flex-flow: column;
  gap: 40px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.709);
  padding: 30px;
  border-radius: 20px;
}

.form-productos1 {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.form-productos2 {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.form-ordenar {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 20px 0;
}

.botonesnavegacion-productos {
  font-weight: bold;
  font-size: 1.4rem;
}

/* ----------------------------------Media-Queries - Width------------------------- */


@media (max-width:1350px) {

  .quienes-somos-h2 {
    font-size: 2.5rem;
  }

  .quienes-somos {
    font-size: 1.7rem;
  }


}

@media (max-width:1250px) {

  .grilla-iconos-footer {
    grid-template-columns: 33.3% 33.3% 33.3%;

  }

}

@media (max-width:1024px) {

  .header-index {
    box-shadow: inset 0px 225px 100px 0px rgba(0, 0, 0, 0.37);;
  }

  .contenedor-nav-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .contenedor-navlist1-y-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 200px;
  }

  .texto-portada {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .texto-portada1 {
    font-weight: lighter;
    font-size: 0.9rem;
    color: white;
  }

  .texto-portada2 {
    font-size: 2rem;
    font-weight: lighter;
    color: white;
  }

  .buenosmomentos {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .quienes-somos-h2 {
    font-size: 2.2rem;
  }

  .quienes-somos {
    font-size: 1.6rem;
    width: 80%;
  }

}

@media (max-width:990px) {

.queremosque {
  font-size: 0.8rem;
}

}

@media (max-width:860px) {

.grilla-productos {
  display: flex;
  flex-direction: column;
  padding: 5em;
  gap: 100px;
}

.celda-neopreno {
  justify-content: center;
}

.celda-tabla {
justify-content: center;
}

.celda-quillon {
  justify-content: center;
}

.celda-leash {
  justify-content: center;
}

}


@media (max-width:835px) {

  .header-index {
    box-shadow: inset 0px 250px 100px 0px rgba(0, 0, 0, 0.37);;
  }

  .contenedor-navlist1-y-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .texto-portada {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .texto-portada2 {
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
  }

  .buenosmomentos {
    font-size: 2.1rem;
    font-weight: bold;
  }

}

@media (max-width:800px) {

  .grilla-iconos-footer {
    grid-template-columns: 25% 50% 25%;

  }

.seccion1-index {
  padding: 6em;
}

  .quienes-somos-h2 {
    font-size: 2rem;
  }

  .quienes-somos {
    font-size: 1.4rem;
    width: 100%;
  }

.seccion1-index {
  gap: 20px;
}

}

@media (max-width:740px) {

  .queremosque {
    display: none;
  }
  .queremosque-media740 {
    display: block;
    color: rgba(109, 109, 109, 0.637);
    font-size: 0.9rem;
  }

}

@media (max-width:720px) {
  .oferta {
    display: none;
  }

  .oferta-720 {
    display: block;
  font-size: 3rem;
  }

  .lomejor-720 {
    display: block;
    font-size: 2rem;
  }

  .grilla-productos {
    padding: 3em;
  }

  .container-video iframe {
    padding-bottom: 20px;
  }

}

@media (min-width:670px) {
  .textoreserva {
    border-radius: 30px;
    width: 70%;
  }
}

@media (min-width: 860px) {
  .textoreserva {
    width: 60%;
  }

  .container-video {
    width: 70%;
  }
}

@media (min-width: 1377px) {
  .textoreserva {
    width: 50%;
  }

}

@media (min-width: 1638px) {
  .textoreserva {
    width: 40%;
  }
}

@media (max-width:650px) {

  .iconoflecha {
    width: 40px;
  }

  .texto-portada2 {
    display: none;
  }

  .texto-portada1 {
    display: none;
  }

  .buenos-650 {
    display: block;
    font-size: 2.25rem;
    color: white;
  }
  
  .y-650 {
    display: block;
    color: white;
  }
  
  .experiencias-650 {
    display: block;
    color: white;
  }
  

}

@media (max-width:560px) {

  .quienes-somos {
    font-size: 1.10rem;
  }

  .grilla-iconos-footer {
    grid-template-columns: 20% 60% 20%;

  }

}

@media (max-width:500px) {
  .quienes-somos-h2 {
    font-size: 1.6rem;
  }

  .quienes-somos {
    font-size: 1.10rem;
  }

  .seccion1-index {
    padding: 4em;
  }

  .textoreserva {
    font-size: 1.6rem;
  }

}

@media (max-width:430px) {

  .derechosreservados {
    font-size: 0.75rem;
  }

  .grilla-iconos-footer {
    grid-template-columns: 15% 70% 15%;

  }

  .hypertextosfooter {
    font-size: 0.75rem;
  }

  .quienes-somos {
    font-size: 0.99rem;
  }

  .tarjeta {
    width: 230px;
  }

  .quillon {
    width: 210px;
    height: 180px;
  }

  .leash {
    width: 170px;
    height: 215px;
  }

  .botones-reservar {
    font-size: 0.8rem;
  }

  .quillon:hover {
    width: 220px;
    height: 190px;
  }
  .leash:hover {
    width: 190px;
    height: 230px;
  }

}

@media (max-width:420px) {

  .titulo-principal {
    font-size: 3rem;
  }

  .titulo-principal:hover {
    font-size: 3rem;
  }

}

@media (max-width:390px) {

  .quienes-somos {
    font-size: 0.9rem;
  }

  .seccion1-index {
    padding: 2.5em;
  }

  .queremosque-media740 {
    font-size: 0.76rem;
    margin-top: 40px;
  }


}


@media (max-width:370px) {

  .buenos-650 {
    font-size: 1.8rem;
  }

  .y-650 {
    font-size: 1.25rem;
  }

  .experiencias-650 {
    font-size: 1.25rem;
  }

  .contenedor-navlist1-y-2 {
    gap: 60px;
  }

  .nav-list1 {
    flex-direction: column;
    align-items: center;
  }

  .nav-list2 {
    align-items: center;
  }

  .buenos-650 {
    display: none;
  }
  .y-650 {
    display: none;
  }
  .experiencias-650 {
    display: none;
  }
}


@media (max-width:360px) {

  .grilla-iconos-footer {
    grid-template-columns: 10% 80% 10%;
  }

.textoreserva {
  font-size: 1.4rem;
}

}


/* -----------------------Media queries - Sección Surf - Width ----------------------------- */

@media (max-width: 1680px) {
  .articulos-surf {
    font-size: 1.65rem;
  }
}

@media (max-width: 1460px) {
  .articulos-surf {
    font-size: 1.54rem;
  }
}

@media (max-width: 1260px) {
  .articulos-surf {
    font-size: 1.43rem;
  }
}

@media (max-width: 1150px) {
  .articulos-surf {
    font-size: 1.34rem;
  }
  
}

@media (max-width: 990px) {
  .articulos-surf {
    font-size: 1.25rem;
  }
  
}

@media (max-width: 879px) {
  .articulos-surf {
    font-size: 1.17rem;
  }

  .titulo-surf {
    font-size: 2.5rem;
  }
  
}

@media (max-width: 725px) {
  .articulos-surf {
    font-size: 1.10rem;
  }

  .titulo-surf {
    font-size: 2.2rem;
  }

  .header-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-surf {
    margin-top: 20px;
  }

  .ul-clases1 {
    margin: 0;
  }
  
  .nav-surf {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 660px) {

    .articulos-surf {
    font-size: 1rem;
  }

  .titulo-surf {
    font-size: 2.1rem;
  }

}

@media (max-width: 579px) {

      .articulos-surf {
    font-size: 0.968rem;
  }

  .titulo-surf {
    font-size: 1.9rem;
  }

}

@media (max-width: 528px) {

      .articulos-surf {
    font-size: 0.93rem;
  }

  .titulo-surf {
    font-size: 1.9rem;
  }

}

@media (max-width: 478px) {

      .articulos-surf {
    font-size: 0.90rem;
  }

  .titulo-surf {
    font-size: 1.85rem;
  }

}

@media (max-width: 442px) {

      .articulos-surf {
    font-size: 0.85rem;
  }

  .titulo-surf {
    font-size: 1.8rem;
  }

}

@media (max-width: 420px) {

  .main-surf {
    padding: 30px;
  }
}

@media (max-width: 396px) {

  .main-surf {
    padding: 20px;
  }
}

@media (max-width: 378px) {

  .main-surf {
    padding: 15px;
  }
}

@media (max-width: 355px) {

  .seccion-surf {
    gap: 20px
  }
}

@media (max-width: 336px) {

      .articulos-surf {
    font-size: 0.84rem;
  }

  .titulo-surf {
    font-size: 1.75rem;
  }
}



