.portada {
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  padding: 1.5em;
  
  // ⇩ Sin variable para la ubicación de sombras ya que son distintas
  
  box-shadow: inset 0px 150px 100px 0px $shadow-inset;
  @include w1024 () {
    box-shadow: inset 0px 225px 100px 0px $shadow-inset;
  }
  @include w835 () {
    box-shadow: inset 0px 250px 100px 0px $shadow-inset;
  }
  &__nav {
    display: flex;
    justify-content: space-around;
    @include w1024 () {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
  &__link {
    color: $color-blanco;
    font-size: 4rem;
    font-weight: 900;
    font-family: $tipo-caveat;
    transition: 0.5s ease;
    text-shadow: 1px 5px 10px $text-shadow;
    @include w420 () {
      font-size: 3rem;
    }
  }
  &__link:hover{
    font-size: 4.3rem;
    -webkit-text-stroke: 2px $color-blanco;
    color: transparent;
    @include w420 () {
      font-size: 3rem;
    }
  }
  &__lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include w1024 () {
      flex-direction: row-reverse;
      align-items: baseline;
      gap: 200px;
    }
    @include w835 () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    }
    @include w370 () {
      gap: 60px;
    }
  }
  &__list-usuario {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    font-size: 1.15rem;
    @include w370 () {
      flex-direction: column;
      align-items: center;
    }
  }
  &__list-navegacion {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: $tipo-merri;
    text-shadow: 0 10px 10px $text-shadow;
    @include w370 () {
      align-items: center;
    }
  }
  &__link-navegacion {
    font-weight: bold;
    font-size: 1.4rem;
    text-shadow: 1px 1px 10px $text-shadow;
    transition: 0.7s ease;
  }
  &__link-navegacion:hover {
    color: $color-blanco;
    font-size: 1.6rem;
  }
  &__link-usuario {
    transition: 0.7s ease;
  }
  &__link-usuario:hover {
    color: $color-blanco;
    font-size: 1.17rem;
  }
  &__texto {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px $color-negro;
    @include w835 () {
      height: 50vh;
      }
  }
  &__slogan {
    font-weight: lighter;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.774);
    font-family: $tipo-baloo;
    @include w1024 () {
      font-size: 0.9rem;
      color: $color-blanco;
    }
    @include w650 () {
      display: none;
    }
  }
  &__slogan-desktop {
    font-size: 2.5rem;
    font-weight: lighter;
    color: $color-blanco;
    font-family: $tipo-overlock;
    text-shadow: $text-shadow-compl;
    @include w1024 () {
      font-size: 2rem;
    }
    @include w835 () {
      font-size: 1.5rem;
    }
    @include w650 () {
      display: none;
    }
  }
  &__strong-desktop {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: $text-shadow-compl;
    @include w1024 () {
      font-size: 2.5rem;
    }
    @include w835 () {
      font-size: 2.1rem;
      }
  }
  &__slogan-mobile {
    display: none;
    font-family: $tipo-overlock;
    font-weight: bold;
    text-shadow: $text-shadow-compl;
    @include w650 () {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2.25rem;
      color: $color-blanco;
    }
    @include w370 () {
      display: none;
    }
  }
  &__span-mobile {
    text-shadow: $text-shadow-compl;
    font-size: 2rem;
  }
  &__video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.about-us {
  width: 100%;
  font-size: 1rem;
  padding: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: $tipo-baloo;
  @include w1638 () {
    padding: 7em 7em 3em 7em;
  }
  @include w800 () {
    padding: 6em 6em 2.5em 6em;
    gap: 20px;
  }
  @include w500 () {
    padding: 4em 4em 1.5em 4em;
  }
  @include w390 () {
    padding: 2.5em 2.5em 1em 2.5em;
  }
  &__titulo {
    font-size: 3rem;
    color: $color-verde;
    @include w1350 () {
      font-size: 2.5rem;
    }
    @include w1024 () {
      font-size: 2.2rem;
    }
    @include w800 () {
      font-size: 2rem;
    }
    @include w500 () {
      font-size: 1.6rem;
    }
  }
  &__strong {
    font-weight: bold;
    color: $color-verde;
  }
  &__parrafo {
    width: 60%;
    font-size: 2rem;
    text-align: center;
    color: $color-gris;
    @include w1638 () {
      font-size: 1.7rem;
    }
    @include w1024 () {
      font-size: 1.6rem;
      width: 80%;
    }
    @include w800 () {
      font-size: 1.4rem;
      width: 100%;
    }
    @include w560 () {
      font-size: 1.10rem;
    }
    @include w500 () {
      font-size: 1.1rem;
    }
    @include w430 () {
      font-size: 0.99rem;
    }
    @include w390 () {
      font-size: 0.9rem;
    }
  }
}

.productos-index {
  &__texto {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0 50px 0;
  }
  &__cabecera-wide {
    font-size: 1rem;
    color: $color-gris;
    @include w990 () {
      font-size: 0.8rem;
    }
    @include w740 () {
      display: none;
    }
  }
  &__cabecera-narrow {
    display: none;
    color: $color-gris;
    @include w740 () {
      display: block;
      color: rgba(109, 109, 109, 0.637);
      font-size: 0.9rem;
    }
    @include w390 () {
      font-size: 0.76rem;
      margin-top: 40px;
    }
  }
  &__oferta-wide {
    font-size: 2rem;
    color: $color-verde;
    @include w740 () {
      display: none;
    }
  }
  &__strong-wide {
    font-weight: bold;
  }
  &__strong-narrow {
    font-weight: bold;
  }
  &__h3-narrow {
    display: none;
    color: $color-verde;
    @include w740 () {
      display: block;
      font-size: 2rem;
    }
  }
  
}

.reserva {
  background-image: url("../img/fototablasfondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  gap: 10vh;
  color: $color-blanco;
  &__cont-video {
    position: relative;
    width: 80%;
    padding-bottom: 56.25%; 
    height: 0;
    @include w579 () {
      margin-bottom: 40px;
    }
  }
  &__cont-video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 82.5%;
    @include w720 () {
      font-size: 1rem;
      padding-bottom: 1.25em;
    }
  }
  &__titulo {
    font-weight: bold;
    @include w860 () {
      font-size: 2rem;
    }
    @include w500 () {
      font-size: 1.8rem;
    }
    @include w360 () {
      font-size: 1.5rem;
    }
  }
  &__texto {
    font-size: 2rem;
    background-color: rgba(8, 8, 8, 0.603);
    padding: 0.7em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include minw1460 () {
      width: 50%;
      border-radius: 30px;
    }
  }
  &__parrafo {
    text-align: center;
    @include w860 () {
      font-size: 1.6rem;
    }
    @include w500 () {
      font-size: 1.4rem;
    }
    @include w360 () {
      font-size: 1.1rem;
    }
  }
  &__btn {
    font-size: 1.1rem;
    border: 3px solid $color-negro;
    font-weight: bold;
    color: $color-negro;
    border-radius: 20px;
    padding: 0.36em;
    background-color: $color-blanco;
    transition: 0.3s ease;
    @include w430 () {
      font-size: 0.8rem;
    }
  }
  &__btn:hover {
    background-color: $color-negro;
    color: $color-blanco;
    border-color: $color-blanco;
    font-size: 1.2rem;
  }
  
}

.subir {
  position: absolute;
  top: 0px;
}























