.surf {
  background-image: url("../img/fondo-palmeras.jpg");
  font-size: 1.8rem;
  padding: 1.39em;
  background-position: center;
  color: $color-blanco;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 50px;
  @include w420 () {
    font-size: 1rem;
    padding: 1.875em;
  }
  @include w396 () {
    padding: 1.25em;
  }
  @include w378 () {
    padding: 1em;
  }
  @include w355 () {
    gap: 20px
  }
  &__titulo {
    text-decoration: underline;
    font-weight: bold;
    font-size: 5rem;
    padding: 1em;
    @include w1200 () {
      font-size: 3rem;
    }
    @include w879 () {
      font-size: 2.5rem;
    }
    @include w725 () {
      font-size: 2.2rem;
    }
    @include w660 () {
      font-size: 2.1rem;
      padding: 40px 0 0 0;
    }
    @include w579 () {
      font-size: 1.9rem;
    }
    @include w528 () {
      font-size: 1.9rem;
    }
    @include w478 () {
      font-size: 1.85rem;
    }
    @include w442 () {
      font-size: 1.8rem;
    }
    @include w396 () {
      font-size: 1.5rem;
    }
    @include w355 () {
      margin-bottom: 20px;
    }
  }
  &__cont-art {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    @include w1200 () {
      display: flex;
      flex-direction: column;
      gap: 80px; 
    }
  }
  &__hr {
    color: $color-blanco;
    @include w1200 () {
      display: none;
    }
  }
  &__articulo {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    font-size: 1.75rem;
    @include w1680 () {
      font-size: 1.65rem;
    }
    @include w1460 () {
      font-size: 1.54rem;
    }
    @include w1260 () {
      font-size: 1.43rem;
    }
    @include w1150 () {
      font-size: 1.34rem; 
    }
    @include w990 () {
      font-size: 1.25rem;
    }
    @include w879 () {
      font-size: 1.17rem;
    }
    @include w725 () {
      font-size: 1.1rem;
    }
    @include w660 () {
      font-size: 1rem;
    }
    @include w579 () {
      font-size: 0.968rem;
    }
    @include w528 () {
      font-size: 0.93rem;
    }
    @include w478 () {
      font-size: 0.90rem;
    }
    @include w442 () {
      font-size: 0.85rem;
    }
    @include w336 () {
      font-size: 0.84rem;
    }
  }
}







