.icono-flecha {
  width: 60px;
  position: sticky;
  bottom: 30px;
  left: 95.5%;
  margin: 20px;
  transition: 0.3s ease;
  @include w860 () {
    width: 40px;
  }
  &:hover {
    width: 65px;
    @include w860 () {
      width: 40px;
    }
    }
}

