.tarjeta {
  width: 300px;
  height: 445px;
  border: 2px solid $color-negro;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-blanco;
  @include w430 () {
    width: 230px;
  }
  &__body {
    font-size: 1.2rem;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  &__titulo {
    font-size: 1.2rem;
  }
  &__img-neoprene {
    width: 280px;
    height: 275px;
    transition: 0.3s ease;
  }
  &__img-neoprene:hover {
    width: 295px;
    height: 290px;
  }
  &__img-tablablanca {
    width: 200px;
    height: 275px;
    transition: 0.3s ease;
  }
  &__img-tablablanca:hover {
    width: 215px;
    height: 290px;
  }
  &__img-quillon {
    width: 290px;
    height: 275px;
    transition: 0.3s ease;
    @include w430 () {
      width: 210px;
      height: 180px;
    }
  }
  &__img-quillon:hover {
    width: 305px;
    height: 290px;
    @include w430 () {
      width: 220px;
      height: 190px;
    }
  }
  &__img-leash {
    width: 240px;
    height: 275px;
    transition: 0.3s ease;
    @include w430 () {
      width: 170px;
      height: 215px;
    }
  }
  &__img-leash:hover {
    width: 255px;
    height: 290px;
    @include w430 () {
      width: 190px;
      height: 230px;
    }
  }
  &__span {
    text-decoration: line-through;
  }
}

















